<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="~/script.js"></script>
</head>

<body>
    <div class="title">ASP Core 2.0 TODO</div>
    <div class="input-todo-container">
        <input class="input-todo" id="new-todo" type="text" placeholder="Type here and press Enter" />
    </div>
    <div class="todo-container"><ul class="todo-list" id="todos"></ul></div>
    <div class="about">made by Marcell Misó</div>
</body>
</html>